<div class="col-md-3 col-sm-4 header_logo logosty" >
    <span>&nbsp&nbsp&nbsp&nbsp</span>
    <a href="/"><img src="imgs/logo.png">
        <span style="font-size: 15px;">&nbsp壹玖影数</span></a>
</div>

<div class="col-md-7  col-sm-6 search logosty">
    <div><input type="text" />&nbsp;&nbsp;&nbsp;<button class="btn" type="submit"><img src="imgs/search.png"></button></div>
</div>

<div class="col-md-2 col-sm-2 search logosty" id="loginButton">
    <span id="UserName"></span>
    <a href="/login">
        <input  class="btn" type="button" value="登录"></input>
    </a>
</div>

<script>
    //判断是否已登录
    if(sessionStorage.length != 0 && sessionStorage.getItem('UserName')!='null'){
        var userName = sessionStorage.getItem('UserName')
        var userNameText=document.getElementById("UserName");
        userNameText.innerText=userName;
        var loginButton=document.getElementById("loginButton");
        loginButton.innerHTML='<span id="UserName">'+userName+'</span>&nbsp;&nbsp;<a><input type="button" class="btn" value="注销"></input></a>'
    }
    //注销按钮点击事件
    $("input[type='button']").click(function(e) {
        sessionStorage.setItem("UserName", "null");
        loginButton.innerHTML='<span id="UserName"></span><a href="/login"><button class="btn" type="submit">登录</button></a>'
        window.location.href = '/boxOffice';
    })
</script>