<div class="menu-box">
    <!--菜单开始-->
    <div class="menu">
        <div class="menu-title">
            <h1>Menu</h1>
        </div>

        <div class="menu-item">
            <input type="checkbox" id="menu-item1">
            <label for="menu-item1">
                <i class="menu-item-icon"><img src="imgs/img1.png"></i>
                <span>数据大盘</span>
                <i class="menu-item-last"><img src="imgs/up_down.png"></i>
            </label>
            <div class="menu-content">
                <span id="boxOffice"><a href="/boxOffice">票房大盘</a></span>
                <span><a href="/boxOffice">行业大盘</a></span>
                <span><a href="/boxOffice">排片大盘</a></span>
            </div>
        </div>
        <div class="menu-item">
            <input type="checkbox" id="menu-item2">
            <label for="menu-item2">
                <i class="menu-item-icon"><img src="imgs/img2.png"></i>
                <span>票房分析</span>
                <i class="menu-item-last"><img src="imgs/up_down.png"></i>
            </label>
            <div class="menu-content">
                <span id="ranking"><a href="/ranking">票房榜</a></span>
            </div>
        </div>
        <div class="menu-item">
            <input type="checkbox" id="menu-item3">
            <label for="menu-item3">
                <i class="menu-item-icon"><img src="imgs/img3.png"></i>
                <span>排片分析</span>
                <i class="menu-item-last"><img src="imgs/up_down.png"></i>
            </label>
            <div class="menu-content">
                <span id="movieSchedule"><a href="/movieSchedule">影片排片</a></span>
                <span><a href="">影院排片</a></span>
            </div>
        </div>
        <div class="menu-item">
            <input type="checkbox" id="menu-item4">
            <label for="menu-item4">
                <i class="menu-item-icon"><img src="imgs/img4.png"></i>
                <span>宣发舆情</span>
                <i class="menu-item-last"><img src="imgs/up_down.png"></i>
            </label>
            <div class="menu-content">
                <span><a href="/marketing">购票指数</a></span>
                <span><a href="">口碑指数</a></span>
            </div>
        </div>
        <div class="set-line"></div>
        <div class="menu-item">
            <input type="checkbox" id="menu-item5">
            <label for="menu-item5">
                <i class="menu-item-icon"><img src="imgs/img5.png"></i>
                <span><a href="/buy">购买续费</a></span>
            </label>
        </div>
        <div class="menu-item">
            <input type="checkbox" id="menu-item6">
            <label for="menu-item6">
                <i class="menu-item-icon"><img src="imgs/img6.png"></i>
                <span id="personalCenter"><a href="/individual">个人中心</a></span>
            </label>
        </div>
        <div class="menu-item">
            <input type="checkbox" id="menu-item7">
            <label for="menu-item7">
                <i class="menu-item-icon"><img src="imgs/img7.png"></i>
                <span><a href="https://www.wjx.cn/vm/eFkUweG.aspx">用户反馈</a></span>
            </label>
        </div>
    </div>
</div>
